@use './mixins.scss' as *;

.collapse-container {
  margin: 38px 0;
  @media (max-width: 955px) {
    margin: 20px 0;
  }
  p {
    margin: 0;
  }}

  .collapse-content-about {
    padding: 1%;
    margin: 0;
  }