@use "./mixins.scss" as *;

.acommodation-page {
  display: flex;
  flex-direction: column;

  .accommodation-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond-to(medium) {
      flex-direction: column;
    }

    .accommadation-info {
      display: flex;
      flex-direction: column;
      @include respond-to(medium) {
        // flex-direction: row-reverse;
      }

      .name {
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        color: rgba(255, 96, 96, 1);
        @include respond-to(small) {
          font-size: 18px;
          line-height: 25.67px;
        }
      }

      .location {
        font-weight: 500;
        font-size: 18px;
        line-height: 25.67px;
        @include respond-to(small) {
          font-size: 14px;
        }
      }

      .tag-section {
        display: flex;
        flex-direction: row;
        margin: 20px 0 24px;

        .tag {
          margin-right: 10px;
        }

        @include respond-to(small) {
          width: 100%;
          margin: 10px 0 0;
          .tag {
            margin: 5px;
          }
        }

        span {
          color: white;
          font-size: 14px;
          font-weight: 700;
          justify-content: center;
          align-items: center;
          display: flex;
          height: 100%;
          @include respond-to(medium) {
            font-size: 10px;
          }
        }
      }
    }

    .profile-card {
      display: flex;
      flex-direction: column;
      margin: 21px 0 31px;

      @include respond-to(medium) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }

      @include respond-to(small) {
        margin: 16px 0 13px;      }

      .profile-info {
        display: flex;
        flex-direction: row;

        .fullname {
          display: flex;
          flex-direction: column;
          color: rgba(255, 96, 96, 1);
          margin-right: 10px;

          span {
            &.first-name,
            &.last-name {
              text-align: right;
            }
            @include respond-to(small) {
              font-size: 10px;
            }
          }
        }

        img {
          width: 64px;
          height: 64px;
          border-radius: 100%;
          margin: 0;
          text-align: right;
          @include respond-to(small) {
            width: 32px;
            height: 32px;
          }
        }
      }

      .rating {
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        span {
          &.empty-star,
          &.full-star {
            width: 24.75px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(255, 96, 96, 1);
            gap: 10px;
            box-sizing: border-box;
            @include respond-to(small) {
              width: 13.41px;
              height: 13px;
              gap: 4px;
            }
          }
        }
      }
    }
  }

  .collapse-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    @include respond-to(medium) {
      flex-direction: column;
      margin: 13px 0 27px;
      gap: 20px;
    }
    @include respond-to(small) {

    }
    .collapse {
      width: 50%;
      margin: 0;
      @include respond-to(medium) {
        width: 100%;
      }
      .collapse-header {
        @include respond-to(small) {
          height: 30px;
          font-size: 13px;
        }
      }
      .title-collapse {
        min-width: 92px;
        span {
          @include respond-to(small) {
            font-size: 13px;
          }
        }
      }
    }

    .collapse-description {
      margin-right: 38px;
      border-radius: 10px;
    }

    .collapse-equipments {
      border-radius: 10px;
      margin-left: 38px;
      @include respond-to(medium) {
        margin-left: 0;
      }
    }
  }
}
