@use "./mixins.scss" as *;

.banner .banner-image {
  width: 100%;
  border-radius: 25px;
  opacity: 0.16px;
  text-align: center;
  object-fit: cover;
}

.banner {
  position: relative;
  height: 223px;
  margin-top: 50px;
  @include respond-to(small) {
    margin-top: 7px;
    height: 111px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Assombris l'image en arrière-plan */
    border-radius: 25px;
  }
  .quote {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    font-size: 1em;
    font-weight: 700;
    z-index: 1;
    @include respond-to(small) {
      font-size: 0.5em;
    }
  }
  .banner-image {
    height: 100%;
  }
}

.banner-about:after {
  background: rgba(0, 0, 0, 0.3);
}
