@use "./mixins.scss" as *;

.cards {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  position: relative;
  transition: background 0.3s;
  cursor: pointer;

  @include respond-to(medium) {
    width: 100%;
  }
  
  @include respond-to(small) {
    height: 255px;
    width: 335px;
  }
  
  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.363);
      border-radius: 10px;
    }
    // Désactiver le background du titre lors du survol
    .title-card {
      background: transparent;
    }
  }
}