.collapse-header {
  width: 100%;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 5px;
  height: 54px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border: none;
  display: flex;
  justify-content: space-between;
}

.collapse {
  margin: 0 108.5px 28px;
  height: 100%;
  // align-items: center;
}

.title-collapse {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.title-collapse span {
  height: 100%;
}

.collapse-body {
  margin-bottom: 28px;
  background: rgba(246, 246, 246, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

button.collapse-toggle {
  background: none;
  border: none;
}

.collapse-header img {
  margin-right: 21.29px;
  height: 100%;
}
