.collapse {
  margin: 28px 108.5px;
  height: 100%;
}

.collapse-header {
  width: 100%;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 5px;
  height: 54px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border: none;
  display: flex;
  justify-content: space-between;
}

.title-collapse {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

button.collapse-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

.collapse-header img {
  margin-right: 21.29px;
  height: 100%;
}

.collapse-body {
  margin-bottom: 28px;
  background: rgba(246, 246, 246, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  overflow: hidden;
  transition: max-height 0.5s, visibility 0.5s linear 0.5s;
  max-height: 0;
  visibility: hidden;
}

.collapse-body.visible {
  max-height: 500px;
  visibility: visible;
  transition-delay: 0s;
}