@use "./mixins.scss" as *;

.collapse {
  margin: 28px 108.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  // border-radius: 10px;

  @include respond-to(medium) {
    margin: 0;
    // display: flex;
    // flex-direction: column;
    margin-bottom: 20px;
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.collapse-header {
  width: 100%;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
  height: 54px;
  font-weight: 700;
  color: white;
  border: none;
  display: flex;
  justify-content: space-between;
}

.title-collapse {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

button.collapse-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  // width: 24px;
}

.collapse-header img {
  // width: 24px;
  height: 100%;
  // @include respond-to(small) {
  //   margin-right: 12px;
  // }
}

.collapse-body {
  background: rgba(246, 246, 246, 1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: max-height 0.5s, visibility 0.5s linear 0.5s;
  max-height: 0;
  visibility: hidden;
  @include respond-to(medium) {
    margin: 0;
  }
}

.collapse-body.visible {
  max-height: 500px;
  visibility: visible;
  transition-delay: 0s;
  padding: 4%;
}

.collapse-body.hidden {
  @include respond-to(medium) {
    padding: 0;
  }
}