.footer {
  display: flex;
  height: 209px;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  box-sizing: border-box;
}

.footer span {
  color: white;
  margin-top: 28.56px;
}