@use './mixins.scss' as *;

.footer {
  display: flex;
  height: 209px;
  flex-direction: column;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  box-sizing: border-box;
  margin: 0 -100px;
  @include respond-to(medium){
    padding: 0;
    text-align: center;
    margin: 0 -20px;
  }
}

.footer span {
  color: white;
  margin-top: 28.56px;
  @include respond-to(medium){
    width: 60%;
  }
}