.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
  @media (max-width: 955px) {
    margin: 20px 0;
    width: auto;
  }
  @media (max-width: 300px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-logo {
    @media (max-width: 955px) {
      height: 37.46px;
      width: auto;
      margin: 0;
    }
  }
}

.header-nav {
  display: flex;
  gap: 57px;
  font-weight: 500;
  line-height: 34.22px;
  @media (max-width: 955px) {
    gap: 26px;
    font-size: 12px;
    padding: 0;
  }
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

.active-link {
  text-decoration: underline;
}
