@use "./mixins.scss" as *;

.slideshow-container {
  width: 100%;
  height: 415px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px 0 30px;

  img {
    border-radius: 10px;
  }

  @include respond-to(small) {
    width: auto;
    height: 255px;
    margin: 7px 0 15px;
  }

  .nav-btn {
    z-index: 1;
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    // margin-right: 23px;
    // margin-left: 23px;
    // box-sizing: border-box;
    .prev-btn,
    .next-btn {
      width: 46.68px;
      gap: 0px;
      opacity: 0px;
      background: none;
      border: none;
      color: white;
      padding: 0;
      margin: 23.36px;
      img {
        width: 100%;
      }
      @include respond-to(small) {
        width: 11.67px;
        height: 19.8px;
        margin: 5.84px;
      }
    }

    .nav-slideshow {
      cursor: pointer;
      @include respond-to(medium) {
        width: 2rem;
      }
      @include respond-to(small) {
        width: 11.67px;
      }
    }
  }
  .counter {
    position: absolute;
    display: flex;
    width: 100%;
    height: 95%;
    align-items: end;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
  }

  .slideshow-image {
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }
}
